# Using and Manipulating Pandas DataFrames: Financial Markets Examples

This notebook provides a comprehensive guide on how to use and manipulate Pandas DataFrames using examples from financial markets. Pandas is a powerful library for data manipulation and analysis in Python. It provides data structures like Series and DataFrame, which are essential for handling structured data.

## 1. Introduction to Pandas DataFrames

A DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table.

### Importing Pandas
First, we need to import the Pandas library.

In [18]:
import pandas as pd

### Creating a DataFrame
Let's create a DataFrame with some financial market data.

In [ ]:
# Creating a DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25],
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00],
    'MSFT': [299.00, 305.00, 300.00, 310.00, 315.00]
}
df = pd.DataFrame(data)
print(df)

## 2. Basic DataFrame Operations

### Viewing Data
You can view the first few rows of the DataFrame using the `head()` method and the last few rows using the `tail()` method.

In [ ]:
# Viewing the first few rows
print(df.head())

# Viewing the last few rows
print(df.tail())

### Getting DataFrame Information
You can get information about the DataFrame using the `info()` method and summary statistics using the `describe()` method.

In [ ]:
# Getting DataFrame information
print(df.info())

# Getting summary statistics
print(df.describe())

### Accessing Data
You can access data in a DataFrame using column names and row indices.

In [ ]:
# Accessing a single column
print(df['AAPL'])

# Accessing multiple columns
print(df[['AAPL', 'GOOGL']])

# Accessing a single row by index
print(df.iloc[0])

# Accessing multiple rows by index
print(df.iloc[0:2])

# Accessing a specific value
print(df.at[0, 'AAPL'])

## 3. Data Manipulation

### Adding and Removing Columns
You can add new columns to the DataFrame and remove existing columns.

In [ ]:
# Adding a new column
df['AMZN'] = [3400.00, 3420.00, 3390.00, 3450.00, 3500.00]
print(df)

# Removing a column
df = df.drop(columns=['AMZN'])
print(df)

### Adding and Removing Rows
You can add new rows to the DataFrame and remove existing rows.

In [ ]:
# Adding a new row
new_row = {'Date': '2023-01-06', 'AAPL': 160.00, 'GOOGL': 2950.00, 'MSFT': 320.00}
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
print(df)

# Removing a row
if 5 in df.index:
    df = df.drop(index=5)
print(df)

### Filtering Data
You can filter data in the DataFrame based on certain conditions.

In [ ]:
# Filtering rows where AAPL price is greater than 150
filtered_df = df[df['AAPL'] > 150]
print(filtered_df)

### Sorting Data
You can sort data in the DataFrame by one or more columns.

In [ ]:
# Sorting by AAPL prices
sorted_df = df.sort_values(by='AAPL')
print(sorted_df)

# Sorting by multiple columns
sorted_df = df.sort_values(by=['AAPL', 'GOOGL'])
print(sorted_df)

## 4. Handling Missing Data

### Detecting Missing Data
You can detect missing data in the DataFrame.

In [ ]:
# Detecting missing data
df_with_nan = df.copy()
df_with_nan.loc[2, 'AAPL'] = None
print(df_with_nan.isnull())
print(df_with_nan.isnull().sum())

### Handling Missing Data
You can handle missing data by filling or dropping missing values.

In [ ]:
# Filling missing values
df_filled = df_with_nan.fillna(0)
print(df_filled)

# Dropping rows with missing values
df_dropped = df_with_nan.dropna()
print(df_dropped)

## 5. Grouping and Aggregating Data

You can group and aggregate data in the DataFrame to perform summary statistics.

In [ ]:
# Grouping and aggregating data
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Stock': ['AAPL', 'GOOGL', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL', 'GOOGL', 'MSFT', 'AAPL'],
    'Price': [150.75, 2800.50, 299.00, 153.30, 2820.00, 305.00, 149.50, 2790.00, 300.00, 155.00]
}
df_group = pd.DataFrame(data)
print(df_group)

# Grouping by Stock and calculating mean price
grouped_df = df_group.groupby('Stock').mean()
print(grouped_df)

## 6. Merging and Joining DataFrames

You can merge and join DataFrames to combine data from multiple sources.

In [ ]:
# Creating two DataFrames
data1 = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
    'AAPL': [150.75, 153.30, 149.50, 155.00, 157.25]
}
data2 = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D'),
    'GOOGL': [2800.50, 2820.00, 2790.00, 2850.00, 2900.00]
}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

# Merging DataFrames
merged_df = pd.merge(df1, df2, on='Date')
print(merged_df)